<h1>Listado Productos</h1>
<button class="btn btn-primary" (click)="onNewProduct()">Nuevo</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of list">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
        <td>
          <button class="btn btn-secondary" 
            (click)="onDeleteProduct(product.id)">
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>